@model IEnumerable<Planning_platform.Entities.Announcement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Объявления</h1>
@{
    if (User.IsInRole("moderator"))
    {
        <p>
    <a asp-action="Create">Создать новое</a>
</p>}}
<table class="table">
    <thead>
        <tr>
            <th>
                Текст объявления
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                    @item.Date.ToShortDateString()
                @*@Html.DisplayFor(modelItem => item.Date)*@
            </td>
                @{
                    if (User.IsInRole("moderator"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>}}
        </tr>
}
    </tbody>
</table>
