@model Planning_platform.Entities.Lesson

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Просмотр</h1>

<div>
    <h4>Урока</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            День недели
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.Day_of_week == "Monday")
                {
                    <t>Понедельник</t>
                }
                else if (Model.Day_of_week == "Tuesday")
                {
                    <t>Вторник</t>
                }
                else if (Model.Day_of_week == "Wednesday")
                {
                    <t>Среда</t>
                }
                else if (Model.Day_of_week == "Thursday")
                {
                    <t>Четверг</t>
                }
                else if (Model.Day_of_week == "Friday")
                {
                    <t>Пятница</t>
                }
                else
                {
                    @Html.DisplayFor(model => model.Day_of_week)
                }
            }
        </dd>
        <dt class = "col-sm-2">
           Номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_on_day)
        </dd>
        <dt class = "col-sm-2">
            Предмет
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Subject_name)
        </dd>
        <dt class = "col-sm-2">
            Класс
        </dt>
        <dd class = "col-sm-10">
            @Model.Class.FullName
        </dd>
        <dt class = "col-sm-2">
            Teacher
        </dt>
        <dd class = "col-sm-10">
            @Model.Teacher.FullName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
