@model IEnumerable<Planning_platform.Entities.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Planning_platform.Entities.Plan> plans;
    var orderedPlans = new List<Planning_platform.Entities.Plan>();
    var counterHomeworks = 0;

    if (User.IsInRole("student"))
    {
        plans = ViewData["plans"] as IEnumerable<Planning_platform.Entities.Plan>;
        orderedPlans = new List<Planning_platform.Entities.Plan>(plans);
    }
}

@{
    if (User.IsInRole("teacher")){
        <table class="table">
            <thead>
            <tr>
            <td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
            </tr>
                <tr>
                    <th>
                        Понедельник
                    </th>
                    @{
                        int counter = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Monday")
                        {
                            if (item.Number_on_day != counter)
                            {
                                for (int i = counter; i < item.Number_on_day; i++)
                                {
                                    <td></td>
                                    counter++;
                                }
                            }
                            <td>
                                @item.Class.Num_of_class @item.Class.Letter_of_class
                                @{
                                    counter = item.Number_on_day + 1;
                                }
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Вторник
                    </th>
                    @{
                        counter = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Tuesday")
                        {
                            if (item.Number_on_day != counter)
                            {
                                for (int i=counter; i < item.Number_on_day; i++)
                                {
                                    <td></td>
                                    counter++;
                                }
                            }
                            <td>
                                @item.Class.Num_of_class @item.Class.Letter_of_class
                                @{
                                    counter = item.Number_on_day + 1;
                                }
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Среда
                    </th>
                    @{
                        counter = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Wednesday")
                        {
                            if (item.Number_on_day != counter)
                            {
                                for (int i = counter; i < item.Number_on_day; i++)
                                {
                                    <td></td>
                                    counter++;
                                }
                            }
                            <td>
                                @item.Class.Num_of_class @item.Class.Letter_of_class
                                @{
                                    counter = item.Number_on_day + 1;
                                }
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Четверг
                    </th>
                    @{
                        counter = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Thursday")
                        {
                            if (item.Number_on_day != counter)
                            {
                                for (int i = counter; i < item.Number_on_day; i++)
                                {
                                    <td></td>
                                    counter++;
                                }
                            }
                            <td>
                                @item.Class.Num_of_class @item.Class.Letter_of_class
                                @{
                                    counter = item.Number_on_day + 1;
                                }
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Пятница
                    </th>
                    @{
                        counter = 1;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Friday")
                        {
                            if (item.Number_on_day != counter)
                            {
                                for (int i = counter; i < item.Number_on_day; i++)
                                {
                                    <td></td>
                                    counter++;
                                }
                            }
                            <td>
                                @item.Class.Num_of_class @item.Class.Letter_of_class
                                @{
                                    counter = item.Number_on_day + 1;
                                }
                            </td>
                        }

                    }
                </tr>


            </thead>
            <tbody>
            </tbody>
        </table>
    }
}
@{
    if (User.IsInRole("student") )
    {
      <table class="table">
         <thead>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th>
                         Понедельник
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Monday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Вторник
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Tuesday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Среда
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Wednesday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Четверг
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Thursday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Пятница
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Friday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>


            </thead>
        <tbody>

        </tbody>
    </table>

        <table>
            @{
                foreach (var lesson in Model)
                {
                    foreach (var plan in lesson.Plans)
                    {
                        foreach (var homework in plan.Homeworks)
                        {
                            <tr>
                                <td>
                                    @lesson.Subject.Subject_name
                                </td>
                                <td>
                                    @orderedPlans[counterHomeworks].Date.ToShortDateString()
                                    @*@plan.Date.ToShortDateString()*@
                                </td>
                                <td>
                                    @homework.Text
                                </td>
                                @{counterHomeworks++;}
                            </tr>

                        }
                    }
                }
            }
        </table>
    }
}
@{
    if (User.IsInRole("moderator"))
    {



        <h1>Уроки</h1>

        <p>
            <a asp-action="Create">Создать урок</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                       День недели
                    </th>
                    <th>
                        Номер
                    </th>
                    <th>
                       Предмет
                    </th>
                    <th>
                       Класс
                    </th>
                    @*             <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Day_of_week == "Monday")
                                {
                                    <t>Понедельник</t>
                                }
                                else if (item.Day_of_week == "Tuesday")
                                {
                                    <t>Вторник</t>
                                }
                                else if (item.Day_of_week == "Wednesday")
                                {
                                    <t>Среда</t>
                                }
                                else if (item.Day_of_week == "Thursday")
                                {
                                    <t>Четверг</t>
                                }
                                else if (item.Day_of_week == "Friday")
                                {
                                    <t>Пятница</t>
                                }
                                else
                                {
                                    @item.Day_of_week
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number_on_day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class.FullName)
                        </td>
                        @*             <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td> *@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}