@model IEnumerable<Planning_platform.Entities.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (User.IsInRole("student"))
    {
      <table class="table">
         <thead>
                <tr>
                    <th>
                         Monday
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Monday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Tuesday
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Tuesday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Wednesday
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Wednesday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Thursday
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Thursday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>
                <tr>
                    <th>
                        Friday
                    </th>
                    @foreach (var item in Model)
                    {
                        if (item.Day_of_week == "Friday")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_name)
                            </td>
                        }

                    }
                </tr>


            </thead>
        <tbody>

        </tbody>
    </table>
    }
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day_of_week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_on_day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day_of_week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_on_day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Id)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
