@* @model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>  *@
@using Planning_platform.Entities
@model  IEnumerable<Planning_platform.Entities.ApplicationUser> 


<h2>Список пользователей</h2>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var classes = ViewData["Classses"] as IEnumerable<Class>;

}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                    @{
                        foreach(var clas in classes)
                        {
                            if (clas.Id == item.ClassId)
                            {
                                @clas.Num_of_class @clas.Letter_of_class
                                break;
                            }
                        }
                    }
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@item.Id">Редактировать класс</a>
            </td>
        </tr>
}
    </tbody>
</table>
