@model IEnumerable<Planning_platform.Entities.Homework>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Домашние задания</h1>

<p>
    <a asp-action="Create" asp-controller="Plans">Создать новое планирование</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Предмет
            </th>
            <th>
                Текст
            </th>
            <th>
                Дата
            </th>
            <th>
                Класс
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.Plan.Lesson!=null){
        @if(item.Plan.Lesson.Subject!=null){
            @if(item.Plan.Lesson.Subject.Subject_name!=null){
                <tr>
                    <td>
                        @item.Plan.Lesson.Subject.Subject_name
                    </td>

                    <td>
                        @item.Text
                    </td>
                <td>
                    @item.Plan.Date.ToShortDateString()
                </td>
                <td>
                    @item.Plan.Lesson.Class.FullName
                </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>

        </tr>
                               }}
        }}
    </tbody>
</table>
